.Film {
    width: 200px;
    display: inline-block;
    margin: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #fff;
}

.Film-img {
    margin-bottom: 10px;
}
.Film-img img{
    display: block;
    width: 100%;
    height: auto;
}

.Film-txt {
    margin-bottom: 10px;
}
.Film-txt h4 {
    line-height: 1.1;
    padding: 0;
    margin: 0 0 10px;
}